<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<!--/*thymesVar id ="vet" type = "guru.springframework.sfgpetclinic.model.Vet"*/-->
    <h1 th:text="'List Of Vets'">List Of Vets...</h1>

    <table class="table table-striped">
        <thead>
            <tr style="width: 150px;">Id</tr>
            <tr style="width: 150px;">First Name</tr>
            <tr style="width: 150px;">Last Name</tr>
        </thead>
        <tbody>
            <tr th:each=" vet : ${vets}">
                <td th:text="${vet.id}">1</td>
                <td th:text="${vet.firstName}">Veteniary</td>
                <td th:text="${vet.lastName}">Doctor</td>
            </tr>
        </tbody>
    </table>
</body>
</html>